body{
    background-color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    flex-wrap: wrap;
    color: bisque;
    margin: 0;
}
#header{
    text-align: left;
    text-decoration: none;
    display:block;
    }
h3{
    text-align: left;
    position: fixed;

}
ul{
    list-style-type: none;
text-align: right;
margin-right: 10px;

}
li{
    display: inline-block;
    margin-left: 20px;
}
a{
    text-decoration:none;
    }
.about{
    display: flexbox;
    text-align: center;
}
.about img{
border-radius: 50px;
}
.skills{
    text-align: center;
}
.skills h3{
    text-align: center;
    font-style: oblique;
}
.contact{
    text-align: center;
}
.contact a{
    color: cyan;
}
.project{
    text-align: center;
}
.project a{
    color: cyan;
}
.food img{
    border-radius: 30px;
}
.shopping img{
    border-radius: 30px;
}
#contact-form{
    background-color: rgba(0, 0, 255, 0.068);
}
#contact-form h3{
    text-align: center;
}
#contact-form input{
    color: blue;
}